.tag__wrapper {
  width: 10%;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;

}

.tag__wrapper:hover {
  opacity: 0.9;
}

.tag__img {

}

.tag__name {
  font-size: 16px;
  font-weight: 500;
  color: #263238;
}
